html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, lightblue, aquamarine);
}
.container {
    background-color: rgba(69, 69, 69, 0.8);
    padding: 1rem;
    margin: 0rem 1rem;
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    place-content: center;
    border-radius: 5px;
}
h1 {
    color: white;
}
p{
    font-size: larger;
    color: white;
}
button{
    font-size: larger;
    border: 1px;
    height: auto;
    border-radius: 5px;
    background-color: white;
    color: darkslategray;
    padding-inline: 3rem;
}