html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, lightblue, aquamarine);
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}
.container {
    background-color: rgba(69, 69, 69, 0.8);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
h1 {
    color: white;
    font-size: 3.5rem;
    /* margin: 0; */
}
p{
    font-size: 1.5rem;
    color: white;
}
button{
    font-size: larger;
    border: 1px;
    height: auto;
    border-radius: 5px;
    background-color: white;
    color: darkslategray;
    padding-inline: 3rem;
}